<!DOCTYPE html>
<html>
  <head>
    <title>Express Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <table>
          <tr>
              <th>Title</th>
              <td>
                  <p><%=post.title%></p>
              </td>
          </tr>
          <tr>
              <th>Content</th>
              <td>
                  <p><%=post.content%></p>
              </td>
          </tr>
          <tr>
              <th>Media</th>
              <td>
                <iframe width="560" height="315" src=<%=post.youtube_url%> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </td>
          </tr>
      </table>
      <% if (user) { %>
        <form action="/delete/<%= post.id%>" method="POST">
          <input type="submit" value="削除">
        </form>
        <a href="/edit/<%= post.id%>">編集</a>
      <% } %>
  </body>
</html>